body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body, #app, #map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.floating {
  display: block;
  position: absolute;
  z-index: 3;
}

#inspector {
  right: 32px;
  top: 32px;
  z-index: 5;
  min-width: 17%;
} #inspector > * {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 48px 0 rgba(0,0,0,0.4);
  border: none;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
} #inspector * {
  float: none;
  background-color: #fff;
  box-sizing: border-box;
}

#search * {
  border-radius: 4px;
} .searchGroup {
  border: none;
} .arcgisSearch .searchMenu {
  border: none;
  margin-top: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 48px 0 rgba(0,0,0,0.4);
} #search_input {
  border: none;
  box-sizing: border-box;
  display: block;
  width: auto;
  height: auto;
  padding: 16px;
  float: none;
} .arcgisSearch .searchBtn {
  display: none;
} .searchAnimate {
  display: block;
} .searchAnimate .searchInputGroup {
  float: none;
} .arcgisSearch .searchClear {
  border-radius: 4px;
  height: 100%;
  top: 0;
} .searchClear span {
  height: 100%;
}


#sort {
  display: block;
  position: absolute;
  z-index: 3;
}

#undo {
  display: block;
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 75px;
  padding: 3px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid black;
}

#circledraw {
  top: 70px;
  left: 125px;
  padding: 3px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid black;
}

#query {
  display: block;
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 220px;
  padding: 3px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid black;
}

#clearquery {
  display: block;
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 300px;
  padding: 3px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid black;
}

#sidebar {
  display: block;
  position: absolute;
  z-index: 3;
  width: 15%;
  height: 80%;
  background-color: white;
  border: 1px solid black;
  top: 20px;
  right: 30px;
}

.showmore {
  background-color: red; /* Green */
  border: none;
  color: white;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.popupImage {
  margin: 3px;
  width: 80%;
  height: 150px;
  text-align: center;
  background-size: cover;
}

#sidebar h1 {
  text-align:center
}

#sidebar p {
  padding: 5px;
}

.spotlight {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%:
  opacity: 0;
  box-shadow: inset rgba(0,0,0,0.25) 0px 0px 20px 20px, rgba(0,0,0,0.25) 0px 0px 0px 1000px;
  transition: all 1000ms;
} .spotlight-active {
  z-index: 2;
  opacity: 1;
}

a {
  color: #00B7FF;
}

html, body, #mainWindow {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
html, body {
  margin: 0;
  padding: 0;
}
#header {
  height: 80px;
  overflow: auto;
  padding: 0.5em;
}
.esriPopup .contentPane {
  text-align: left;
  color: white;
  background-color: rgba(40, 40, 40, 0.7);
}
.esriPopup .pointer.top {
  color: transparent;
}
.esriPopup .pointer.bottomLeft {
  color: transparent;
}
.esriPopup .pointer, .esriPopup .outerPointer {
  height: 0px;
  width: 0px;
}
.esriPopup a {
    display: none;
}
.esriPopup .titlePane {
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
}
.esriViewPopup .hzLine {
    border: none;
}
.esriPopup .actionsPane {
  background-color: rgba(40, 40, 40, 0.7);
}
.esriPopup {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 50px 0 rgba(0, 0, 0, 0.4);
}
