body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
}

#search {
  display: block;
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 75px;
}

#undo {
  display: block;
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 75px;
  padding: 3px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid black;
}

#circledraw {
  display: block;
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 125px;
  padding: 3px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid black;
}

#query {
  display: block;
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 220px;
  padding: 3px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid black;
}

#sidebar {
  display: block;
  position: absolute;
  z-index: 3;
  width: 15%;
  height: 80%;
  background-color: white;
  border: 1px solid black;
  top: 20px;
  right: 30px;
}

#sidebar h1 {
  text-align:center
}

#sidebar p {
  padding: 5px;
}

.spotlight {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%:
  opacity: 0;
  box-shadow: inset rgba(0,0,0,0.25) 0px 0px 20px 20px, rgba(0,0,0,0.25) 0px 0px 0px 1000px;
  transition: all 1000ms;
} .spotlight-active {
  z-index: 2;
  opacity: 1;
}

a {
  color: #00B7FF;
}

html, body, #mainWindow {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
html, body {
  margin: 0;
  padding: 0;
}
#header {
  height: 80px;
  overflow: auto;
  padding: 0.5em;
}
/* Change color of icons to match bar chart and selection symbol */
.esriPopup.dark div.titleButton,
.esriPopup.dark div.titlePane .title,
.esriPopup.dark div.actionsPane .action {
  color: #c0c0c0;
}
/* Additional customizations */
.esriPopup.dark .esriPopupWrapper {
  border: 10px solid red;
}
.esriPopup .contentPane {
  text-align: left;
  border-radius: 0px;
}
.esriPopup .titlePane {
  background-color: red;
  color: white;
  border-radius: 0px;
}
.esriPopup .actionsPane {
  border-radius: 0px;
}
