extends layout

block content
  #splash
    #splashContainer
      img#splashImage(src='/images/logo4.svg')
      #splashTitle Apt-Get
      #splashBody Get your new apartment today
  .floating#inspector
    div#search.material
    #palette
      .flex-row
        select.material#sort(v-model="queryString")
          option(value="price") Price
          option(value="deposit") Deposit
          option(value="bedrooms") Bedrooms
          option(value="bathrooms") Bathrooms
          option(value="maxoccupants") Occupancy
          option(value="rating") Rating
        button#circledraw.material {{ areaToolLabel }}
      .flex-row
        button#query.material Criteria
        button.material More
    #sidebar.material
  #queryWindow
    button#smoking.toggleButton.disabledButton Smoking
    button#pets.toggleButton.disabledButton Pets
    button#water.toggleButton.disabledButton Water
    button#garbage.toggleButton.disabledButton Garbage
    button#gas.toggleButton.disabledButton Gas
    button#electricity.toggleButton.disabledButton Electricity
    button#internet.toggleButton.disabledButton Internet
    button#laundry.toggleButton.disabledButton Laundry
    button#subleases.toggleButton.disabledButton Subleases
    button#balcony.toggleButton.disabledButton Balcony
    button#furnished.toggleButton.disabledButton Furnished
    button#insurance.toggleButton.disabledButton Insurance
    button#granitecounters.toggleButton.disabledButton Granite Counters
    button#tilefloor.toggleButton.disabledButton Tile Floors
    button#doublepane.toggleButton.disabledButton Double Pane
    input#priceMax(type='text', placeholder='Price less than')
    input#occupantsMin(type='text', placeholder='Occupants greater than')
    button#submitQuery Submit

  #map(data-dojo-type='dijit/layout/ContentPane', data-dojo-props="region:'center'")
