extends layout

block content
  #splash(@click="showSplash = false" v-if="showSplash")
    #splashContainer
      img#splashImage(src='/images/logo4.svg')
      #splashTitle Apt-Get
      #splashBody Get your new apartment today
  .floating#inspector
    div#search.material
    #palette
      .flex-row
        select.material#sort(v-model="queryString" @change="resetSort()")
          option(value="price") Price
          option(value="deposit") Deposit
          option(value="bedrooms") Bedrooms
          option(value="bathrooms") Bathrooms
          option(value="maxoccupants") Occupancy
          option(value="rating") Rating
        button#circledraw.material {{ areaToolLabel }}
      .flex-row
        button#query.material(@click="showQueries = !showQueries") Criteria
        button.material More
    #sidebar.material
  #queryWindow.material(v-show="showQueries")
    #toggleContainer
      button#smoking.toggleButton.disabledButton(@click="toggleCriteria('smoking')") Smoking
      button#pets.toggleButton.disabledButton(@click="toggleCriteria('pets')") Pets
      button#water.toggleButton.disabledButton(@click="toggleCriteria('water')") Water
      button#garbage.toggleButton.disabledButton(@click="toggleCriteria('garbage')") Garbage
      button#gas.toggleButton.disabledButton(@click="toggleCriteria('gas')") Gas
      button#electricity.toggleButton.disabledButton(@click="toggleCriteria('electricity')") Electricity
      button#internet.toggleButton.disabledButton(@click="toggleCriteria('internet')") Internet
      button#laundry.toggleButton.disabledButton(@click="toggleCriteria('laundry')") Laundry
      button#subleases.toggleButton.disabledButton(@click="toggleCriteria('subleases')") Subleases
      button#balcony.toggleButton.disabledButton(@click="toggleCriteria('balcony')") Balcony
      button#furnished.toggleButton.disabledButton(@click="toggleCriteria('furnished')") Furnished
      button#insurance.toggleButton.disabledButton(@click="toggleCriteria('insurance')") Insurance
      button#granitecounters.toggleButton.disabledButton(@click="toggleCriteria('granitecounters')") Granite Counters
      button#tilefloor.toggleButton.disabledButton(@click="toggleCriteria('tilefloor')") Tile Floors
      button#doublepane.toggleButton.disabledButton(@click="toggleCriteria('doublepane')") Double Pane
      button#hvactype.toggleButton.disabledButton(@click="toggleCriteria('hvactype')") HVAC Electric
    input#priceMax(type='number', placeholder='Price less than', v-model='query.maxPrice')
    br
    input#occupantsMin(type='number', placeholder='Occupants greater than', v-model='query.minOccupancy')
    br
    input#bedroomsMin(type='number', placeholder='Bedrooms greater than', v-model='query.minBedrooms')
    br
    button#submitQuery(@click="submitCriteria") Submit

  #map(data-dojo-type='dijit/layout/ContentPane', data-dojo-props="region:'center'")
