doctype html
html
  head
    title= title
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet' href='https://js.arcgis.com/3.19/esri/css/esri.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    div#app
      block content
    
    script(src='/javascripts/globals.js')
    script(src='/javascripts/queries.js')
    script(src='/javascripts/vue.js')
    script(src='/javascripts/vueapp.js')
    
    script(src='https://js.arcgis.com/3.19/')
    script(src='/javascripts/callbackerino.js')
