extends layout

block content
  button#undo Undo
  button#circledraw Circle an Area
  button#query Query Test
  button#clearquery Clear Query
  #search
  #sidebar
    h1 Aggregate Statistics
  #map(data-dojo-type='dijit/layout/ContentPane', data-dojo-props="region:'center'")
